.purple {
  background-color: purple;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.lightblue {
  background-color: lightblue;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}
.gray {
  background-color: gray;
}
.green {
  background-color: green;
}
.pink {
  background-color: pink;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
.lightgreen {
  background-color: lightgreen;
}
