/* ? Header section Styles */
.header {
  padding: 1rem;
  margin: 1rem 0rem;
}
.header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header .section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
}

