/*? Shop Box Styles  */
.shop-box {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  flex-direction: column;
  margin: 1rem 0rem;
  background-color: var(--white);
}
.shop-box .header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.shop-box .shop-title {
  font-size: 1.4rem;
}
.shop-box .bottom-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 1.2rem 0rem;
}
.shop-box .add-icon {
  font-size: 1.4rem;
  cursor: pointer;
}
.shop-box .price {
  top: 50px;
  right: 20px;
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-pallate {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 20px;
  top: 40px;
}
.color-pallate div {
  width: 12px;
  height: 12px;
  margin-top: 5px;
}
